@font-face {
  font-family: cera;
  src: url('/static/fonts/cera/TypeMates - CeraRoundPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: cera;
  src: url('/static/fonts/cera/TypeMates - CeraRoundPro-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: cera;
  src: url('/static/fonts/cera/TypeMates - CeraRoundPro-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
